<script lang="ts" setup>
import { ref } from 'vue';

const db = ref()
const newTodo = ref('')
const emits = defineEmits(['todo-added'])
const saveTodo = () => {
    const request: IDBOpenDBRequest = window.indexedDB.open("my-todos", 3)
    request.onerror = event => {
        alert("Cannot open IndexedDB")
    }
    request.onsuccess = event => {
        //@ts-ignore
        db.value = request.result
        const transaction: IDBTransaction = db.value.transaction('todos', 'readwrite')
        const store = transaction.objectStore('todos');
        store.add({
            name: newTodo.value
        })
        transaction.oncomplete = event => {
            alert("Todo added correctly!")
            emits('todo-added')
        }
        transaction.onerror = event => {
            console.log(event)
        }
        newTodo.value = ''
    }

}
</script>

<template>
    <div class="flex justify-center">
        <div class="grid grid-cols-4 w-64 gap-2">
            <input
                class="rounded-lg px-2 py-2 col-span-3 shadow"
                type="text"
                placeholder="I'm going to do..."
                v-model="newTodo"
            />
            <button
                :disabled="!newTodo"
                @click="saveTodo"
                class="col-span-1 bg-blue-600 disabled:opacity-50 disabled:cursor-not-allowed text-center rounded-lg text-white hover:bg-blue-800 shadow"
            >Add</button>
        </div>
    </div>
</template>