<script lang="ts" setup>
import { PropType } from 'vue';
import { ITodo } from '../types';
const props = defineProps({
    todos: {
        type: Array as PropType<ITodo[]>,
        required: true
    }
})
</script>

<template>
    <div class="flex justify-center">
        <ul class="w-1/2 h-[70vh] px-5 overflow-scroll">
            <template v-if="!props.todos.length">
                <p class="text-center text-blue-500 font-light">No todos stored</p>
            </template>
            <template v-else>
                <todo-list-item v-for="todo in props.todos" :item="todo"></todo-list-item>
            </template>
        </ul>
    </div>
</template>