<script lang="ts" setup>
import { PropType, ref } from 'vue';
import { ITodo } from '../types';

defineProps({
    item: {
        type: Object as PropType<ITodo>,
        required: true
    }
})
const db = ref()
const showMenu = ref(false)
const deleteTodo = (id: number) => {
    if (confirm("Delete Todo?")) {
        const request: IDBOpenDBRequest = window.indexedDB.open("my-todos", 3)
        request.onerror = event => {
            alert("Cannot open IndexedDB")
        }
        request.onsuccess = event => {
            //@ts-ignore
            db.value = request.result
            const transaction: IDBTransaction = db.value.transaction('todos', 'readwrite')
            const store = transaction.objectStore('todos');
            store.delete(id)
            transaction.oncomplete = error => {
                alert("Todo Deleted")
                window.location.reload()
            }

        }
    }
}
</script>

<template>
    <li
        @mouseenter="showMenu = true"
        @mouseleave="showMenu = false"
        class="bg-white p-2 rounded-lg shadow text-blue-500 font-light mt-2 flex justify-between"
    >
        <div class="flex">
            <span>{{ item.id }}.</span>
            &nbsp;
            <p>{{ item.name }}</p>
        </div>
        <transition name="slide-fade" mode="out-in">
            <div v-if="showMenu">
                <button
                    @click="deleteTodo(item.id)"
                    class="text-red-400 hover:bg-red-400 hover:text-white bg-red-200 rounded-full text-xs px-2"
                >Del</button>
            </div>
        </transition>
    </li>
</template>


<style>
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(5px);
    opacity: 0;
}
</style>