<script setup lang="ts">
import { onMounted, ref } from 'vue';

const db = ref()
const request = ref();
const todos = ref<any[]>([])
const getTodos = (request: IDBOpenDBRequest) => {
  //@ts-ignore
  todos.value = []
  db.value = request.result
  const transaction: IDBTransaction = db.value.transaction('todos', 'readwrite')
  const store = transaction.objectStore('todos');
  store.openCursor().onsuccess = event => {
    //@ts-ignore
    const cursor = event.target!.result;
    if (cursor) {
      todos.value.push(cursor.value);
      cursor.continue();
    }

  };
}
onMounted(() => {
  if (!window.indexedDB) {
    alert("IndexedDB not available. This app will not work")
  } else {
    request.value = window.indexedDB.open("my-todos", 3) as IDBOpenDBRequest
    request.value.onerror = () => {
      alert("Cannot open IndexedDB")
    }
    request.value.onsuccess = () => {
      //@ts-ignore
      db.value = request.result
      getTodos(request.value)
    }
    request.value.onupgradeneeded = () => {
      //@ts-ignore
      db.value = request.result
      const objectStore: IDBObjectStore = db.value.createObjectStore("todos", { keyPath: "id", autoIncrement: true });
      objectStore.createIndex("name", "name", { unique: false })
    }
  }
})

</script>

<template>
  <main class="w-full h-screen bg-blue-200">
    <div class="container mx-auto text-center py-5">
      <h1 class="text-3xl text-blue-500">IndexedDB Todo List</h1>
    </div>
    <div class="container mx-auto py-5">
      <todo-input @todo-added="getTodos(request)"></todo-input>
    </div>
    <div class="container mx-auto py-5">
      <todo-list :todos="todos"></todo-list>
    </div>
  </main>
</template>

